version: "3"
services:
    #######################################################
    #  Postgres
    #######################################################
    postgres:
        image: clkao/postgres-plv8
        container_name: postgres
        environment:
            POSTGRES_PASSWORD: Password12!
        ports:
            - "5432:5432"
        networks:
            - pg_network

    pgadmin:
        image: dpage/pgadmin4
        container_name: pgadmin
        environment:
            PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-admin@pgadmin.org}
            PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
        ports:
            - "${PGADMIN_PORT:-5050}:80"
        networks:
            - pg_network

    jaeger:
        image: jaegertracing/all-in-one:latest
        ports:
            - "5775:5775/udp"
            - "6831:6831/udp"
            - "6832:6832/udp"
            - "5778:5778"
            - "16686:16686"
            - "14268:14268"
            - "9411:9411"

#    #######################################################
#    #  EventStoreDB
#    #######################################################
#    eventstore.db:
#        image: eventstore/eventstore:22.10.1-buster-slim
#        # use this image if you're running ARM-based proc like Apple M1
#        # image: eventstore/eventstore:22.10.0-alpha-arm64v8
#        environment:
#            - EVENTSTORE_CLUSTER_SIZE=1
#            - EVENTSTORE_RUN_PROJECTIONS=All
#            - EVENTSTORE_START_STANDARD_PROJECTIONS=true
#            - EVENTSTORE_EXT_TCP_PORT=1113
#            - EVENTSTORE_HTTP_PORT=2113
#            - EVENTSTORE_INSECURE=true
#            - EVENTSTORE_ENABLE_EXTERNAL_TCP=true
#            - EVENTSTORE_ENABLE_ATOM_PUB_OVER_HTTP=true
#        ports:
#            - '1113:1113'
#            - '2113:2113'
#        volumes:
#            -   type: volume
#                source: eventstore-volume-data
#                target: /var/lib/eventstore
#            -   type: volume
#                source: eventstore-volume-logs
#                target: /var/log/eventstore
#        networks:
#            - esdb_network

    #######################################################
    #  Elastic Search
    #######################################################
    elasticsearch:
        container_name: elastic_search
        image: docker.elastic.co/elasticsearch/elasticsearch:7.13.3
        environment:
            - discovery.type=single-node
            - bootstrap.memory_lock=true
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        ulimits:
            memlock:
                soft: -1
                hard: -1
        volumes:
            - elastic-data:/usr/share/elasticsearch/data
        ports:
            - "9200:9200"
            - "9300:9300"
        networks:
            - es_network

    kibana:
        image: docker.elastic.co/kibana/kibana:7.13.3
        environment:
            - ELASTICSEARCH_HOSTS=http://elastic_search:9200
        ports:
            - "5601:5601"
        networks:
            - es_network
        depends_on:
            - elasticsearch

    #######################################################
    #  Zookeeper
    #######################################################
    zookeeper:
        image: confluentinc/cp-zookeeper:7.0.1
        hostname: zookeeper
        container_name: zookeeper
        networks:
            - kafka_network
        ports:
            - "2181:2181"
        environment:
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000

    #######################################################
    #  Kafka
    #######################################################
    kafka:
        image: confluentinc/cp-kafka:7.0.1
        hostname: kafka
        container_name: kafka
        depends_on:
            - zookeeper
        networks:
            - kafka_network
        ports:
            - "9092:9092"
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            ADVERTISED_HOST_NAME: kafka
            KAFKA_ADVERTISED_HOSTNAME: 127.0.0.1

    init-kafka:
        image: confluentinc/cp-kafka:7.0.1
        depends_on:
            - kafka
        entrypoint: [ '/bin/sh', '-c' ]
        networks:
            - kafka_network
        command: |
            "
            # blocks until kafka is reachable
            kafka-topics --bootstrap-server kafka:29092 --list

            echo -e 'Creating kafka topics'
            kafka-topics --bootstrap-server kafka:29092 --create --if-not-exists --topic Carts --replication-factor 1 --partitions 1
            kafka-topics --bootstrap-server kafka:29092 --create --if-not-exists --topic Orders --replication-factor 1 --partitions 1
            kafka-topics --bootstrap-server kafka:29092 --create --if-not-exists --topic Payments --replication-factor 1 --partitions 1
            kafka-topics --bootstrap-server kafka:29092 --create --if-not-exists --topic Shipments --replication-factor 1 --partitions 1

            echo -e 'Successfully created the following topics:'
            kafka-topics --bootstrap-server kafka:29092 --list
            "

    #######################################################
    #  Avro Schema Registry
    #######################################################
    schema_registry:
        image: confluentinc/cp-schema-registry:7.0.1
        container_name: schema_registry
        hostname: schema_registry
        ports:
            - 8181:8181
            - 8081:8081
        depends_on:
            - zookeeper
        networks:
            - kafka_network
        environment:
            SCHEMA_REGISTRY_HOST_NAME: schema_registry
            SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL: 'zookeeper:2181'
            SCHEMA_REGISTRY_ACCESS_CONTROL_ALLOW_METHODS: 'GET,POST,PUT,OPTIONS'
            SCHEMA_REGISTRY_ACCESS_CONTROL_ALLOW_ORIGIN: '*'
            SCHEMA_LOG4J_ROOT_LOGLEVEL: 'ERROR'
            SCHEMA_TOOLS_LOG4J_LOGLEVEL: 'ERROR'

    kafka_rest:
        image: confluentinc/cp-kafka-rest:7.0.1
        hostname: kafka_rest
        ports:
            - "8082:8082"
        depends_on:
            - schema_registry
        networks:
            - kafka_network
        environment:
            KAFKA_REST_BOOTSTRAP_SERVERS: kafka:29092
            KAFKA_REST_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_REST_SCHEMA_REGISTRY_URL: http://schema_registry:8081
            KAFKA_REST_HOST_NAME: kafka_rest
            KAFKA_REST_LISTENERS: http://0.0.0.0:8082

    kafka_topics_ui:
        image: provectuslabs/kafka-ui:latest
        hostname: kafka-ui
        ports:
            - "8080:8080"
        environment:
            KAFKA_CLUSTERS_0_NAME: local
            KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
        networks:
            - kafka_network
        depends_on:
            - kafka_rest

networks:
    es_network:
        driver: bridge
    pg_network:
        driver: bridge
    esdb_network:
        driver: bridge
    kafka_network:
        driver: bridge

volumes:
    postgres:
    pgadmin:
    eventstore-volume-data:
    eventstore-volume-logs:
    elastic-data:
